* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;

    --letra: #5f545c;
    --button: #b1cab3;
    --hover: #f3d79b;
    --fundo-html: #fff4dd;
    --mensagens: #f3d9a1;
    --inicio: #b1cab3;
    --nome: #f0cb7c;
  }

html {
    background-color: var(--fundo-html);
}

.imagem_envio {
    min-width: 80px;
    border-radius: 10px;
    max-width: 50%;
    box-shadow: 0 0 0.2em var(--letra);
}

.img_nome {
    max-width: 3%;
    border-radius: 10px;
    margin-right: 5px;
}


.nome_chat {
    background-color: var(--inicio);
    border-radius: 10px;
}


.container {
    position: fixed;
    bottom: 0%;
}



.botao {
    width: 20vh;
    height: 48px; 
    border-radius: 0 10px 0 0;
    border-style: none;
    background-color: var(--button);
    color: var(--letra);
    transition: .3s;
    box-shadow: 0 0 0.2em var(--letra);
}
.botao:hover {
    transform: .3s;
    background-color: var(--hover);
}


input[type="file"] {
    display: none;
}

label {
    padding: 15px 10px;
    background-color: var(--button);
    text-align: center;
    cursor: pointer;
    border-radius: 10px 10px 0 0;
    color: #5f545c;
    transition: .3s;
    box-shadow: 0 0 0.2em var(--letra);
}

label:hover {
    transform: .3s;
    background-color: var(--hover);
}
 
.inputmsg {
    border-style: hidden;
    border-radius: 0 10px 0 0px;
    padding: 10px;
    width: 120%;
    height: 10vh; 
    background-color: var(--mensagens);
    transition: .3s;
    box-shadow: 0 0 0.2em var(--letra);
    
}
.inputmsg:hover {
    transition: .3s;
    background-color: var(--nome);  
}
.inputmsg:focus {
    border: 2px solid var(--inicio);
    box-shadow: 0 0 0.2em var(--letra);
    outline-offset: 0px;
    outline: none;
    
}

.mensagem_friend {
    text-align: center;
    margin: 0 40% 0 0;
    padding: 20px 0 20px 0;
    border-radius: 0 0 10px 0;
    background-color: var(--mensagens);
    box-shadow: 0 0 0.2em var(--letra);
    transition: .5s;
}

.mensagem_friend:hover {
    transition: .5s;
    background-color: var(--inicio);
}

.nome_friend {
    text-align: center;
    margin: 0 40% 0 0;
    padding: 10px;
    border-radius: 0 10px 0 0;
    background-color: var(--nome);
    transition: .5s;
}
.nome_friend:hover {
    transition: .5s;
    background-color: var(--button);
}

body {
    padding-bottom: 17vh;
}


.mensagem {
    text-align: center;
    margin: 0 0 0 40%;
    padding: 20px 0 20px 10px;
    border-radius: 0 0 0 10px;
    background-color: var(--button);
    box-shadow: 0 0 0.2em var(--letra);
    transition: .5s;
}

.mensagem:hover {
    transition: .5s;
    background-color: var(--mensagens);
}

.nome {
    text-align: center;
    margin: 0 0 0 40%;
    padding: 10px;
    border-radius: 10px 0 0 0 ;
    background-color: var(--nome);
    transition: .5s;
}
.nome:hover {
    transition: .5s;
    background-color: var(--button);
}

.id_chat {
    color: var(--letra);
}

.container_id {
    text-align: center;
    padding: 14px;
    margin: 1% 20% 1% 20% ;
    border-radius: 10px;
    border-style: none;
    background-color: var(--button);
    transition: .3s;
    box-shadow: 0 0 0.2em var(--letra);
    cursor: pointer;
  }

.container_id:hover {
    transform: .3s;
    background-color: var(--hover);
  }



